{{!< layout }}



<div class="card-body">
    <div class="alert alert-danger" style="display: none;">
    </div>
    <a href="/formSave" class="btn btn-primary mb-2">Tambah Data</a>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Nama Admin</th>
                <th>Username</th>
                <th>Paswword</th>
                <th>email</th>
                <th>Hobi</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {{#each admin}}
            <tr>

                <td>{{ admin_nama }}</td>
                <td>{{ admin_username }}</td>
                <td>{{ admin_password }}</td>
                <td>{{ admin_email }}</td>
                <td>{{ admin_foto }}</td>
                <td>
                    <a href="/edit/{{ admin_id }}" class="btn btn-warning">Edit</a>

                    <a href="/delete/{{ admin_id }}" class="btn btn-danger">Delete</a>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>